.theme--light.v-icon {
  color: $tertiary !important;
}
.v-input--selection-controls__ripple.green--text {
   color: $tertiary !important;
}

* {
	box-sizing: border-box;
}

.shadow {
	box-shadow: 0px 0px 30px #00000029;
}