
.theme--light .v-data-table .v-data-table__wrapper table thead tr th .v-icon, .theme--light .v-data-table .v-data-table__wrapper table thead tr td .v-icon {
    color: $tertiary !important;
    display: inline;
}

.v-input--selection-controls__ripple.green--text {
   color: $tertiary !important;
}

* {
	box-sizing: border-box;
}

.shadow {
	box-shadow: 0px 0px 30px #00000029;
}