// @import url(http://fonts.cdnfonts.com/css/gotham);

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    src: local('Gotham'), url('../assets/fonts/GOTHAM/Gotham-Book.ttf') format('truetype');
}


* {
	transition: .33s ease all;
	box-sizing: border-box;
}

#app {
	background-image: url("../assets/bg/background_img.png") !important;
	background-size: cover;
	font-family: 'Gotham', sans-serif;
	background-repeat: no-repeat;
	width: 100% !important;
	height: 100vh;
	background-position: center;
	margin: 0;
	padding: 0;
}

.bg-white {
	background-color: white;
}

.shadow {
	box-shadow: 0px 0px 30px #00000029;
}

.main {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 30px;
	//box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
}

div {
	&.imag {
		height: 720px;
		width: 100%;
		background-image: url("../assets/bg/Login_img.svg");
		background-position: left;
		background-size: cover;
		margin: 0;
	}

	&.text-container {
		height: 720px;
		width: 100%;
		margin: 0;
		border-radius: 0px 20px 20px 0px;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		align-items: center;
		justify-content: center;
		//margin: 60px 45px 55px;
	}
}

.form-title {
	font: normal normal normal 30px/36px Gotham !important;
	letter-spacing: 0 !important;
	color: $primary !important;
	text-align: left !important;
	font: normal normal normal 30px/36px Gotham !important;
	letter-spacing: 0px !important;
	color: $primary !important;
}

@media screen and (min-width: 768px) {
	div {
		&.container {
			flex-direction: row;
			width: 100%;
		}

		&.imag {
			height: 720px;
			min-width: 360px;
		}

		&.text-container {
			max-width: 660px;
		}
	}
}

@media screen and (min-width: 1024px) {
	div.container {
		max-width: 1200px;
	}
}

@media screen and (max-width: 1264px) {
	div {
		&.text-container {
			border-radius: 20px;
		}
	}
}