#app {
	font-family: Gotham;
    width: 100vw !important;
	height: 100vh !important;
    position: relative;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    background-image: url("../assets/bg/background_img.png") !important;
    background-color: $primary !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
    background-attachment: fixed;
	height: 100vh !important;
}

html, body {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
    align-content: center;
    align-self: center;
    position: relative;
}

.image-container {
    width: 100%;
    min-height: 750px;
    background-image: url("../assets/bg/Login_img.svg");
    background-position: top;
    background-size: cover;
	justify-content: center;
    margin: 0;
    position: relative;
    object-fit: cover;
}

.form-container {
    align-items: center;
	justify-content: center;
    align-content: center;
    align-self: center;    
    width: 100%;
    min-height: 750px;
    padding: 2rem;
    border-radius: 0px 20px 20px 0px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-title {
	font-family: 'Gotham';
    font-size: 1.5rem !important;
    font-weight: normal;
    font-style: normal;
	letter-spacing: 0 !important;
	text-align: left !important;
	color: $primary !important;
}

.mobile {
    .form-container {
        background: transparent 0% 0% no-repeat padding-box !important;
        width: 100%;
        border-radius: 20px !important;
        padding: 0rem;
       min-height: auto !important;
    }

    .image-container {
        display: none;
    }
}