
// @media screen and (min-width: 768px) {
// 	div {
// 		&.container {
// 			flex-direction: row;
// 			width: 100%;
// 		}

// 		&.imag {
// 			min-width: 360px;
// 		}

// 		&.text-container {
// 			max-width: 660px;
// 		}
// 	}
// }

// @media screen and (min-width: 1024px) {
// 	div.container {
// 		max-width: 1200px;
// 	}
// }

// @media screen and (max-width: 1264px) {
// 	div {
// 		&.text-container {
// 			border-radius: 20px;
// 		}
// 	}
// }