.v-select__selection--comma {
    margin: 7px !important;
}

.secondary--text {
    .v-input__control {
        color: $secondary !important;
        caret-color: $secondary !important;
    }
}

.success--text {
    .v-input__control {
        color: $success !important;
        caret-color: $success !important;
    }
}

.danger--text {
    .v-input__control {
        color: $error !important;
        caret-color: $error !important;
    }
}