// Reversed input variant
.v-input--reverse--column {
    align-items: flex-start;
    margin: 0;
    padding: 0 0 0 1rem;
    //background-color: greenyellow;

    .v-input--selection-controls, .v-input__control {
        margin: 0;
        padding: 0;
    }
    .v-input__slot {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: flex-start;
        .v-application--is-ltr & {
        .v-input--selection-controls__input {
            margin: 0;
                display: block;
            }
        }
        .v-application--is-rtl & {
            .v-input--selection-controls__input {
                margin: 0;
                display: block;
            }
        }
        .v-label {
            display: block;
            margin: 0 0 0.5rem 0;			
            text-align: center;
            font: normal normal normal 14px/16px Gotham;
            letter-spacing: 0px;
            color: $secondary;
            text-transform: capitalize;

			&.error--text {
				color: $error !important;
			}
        }
    }
}