
 .no-top {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.v-subheader {
    text-align: left !important;
    font-family: Gotham !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-size: 1rem !important;
    letter-spacing: 0.28px !important;
    color: #BCBCBC !important;
}

.theme--light {
    .v-data-table {
        background: #FFFFFF 0% 0% no-repeat padding-box !important;
        box-shadow: 0px 0px 5px #0000001A !important;
        border: 1px solid #E3E3E3 !important;
        border-radius: 10px !important;
        
        // sticky last columns
        td, th {
            &:first-child, &:nth-child(2), &:last-child {
                position: sticky;
                z-index: 9;
                background-color: white;
                //padding: 0.5rem !important;
                box-shadow: 0px 0px 5px #0000001A !important;
            }
            
            &:first-child {
                width: 5% !important;
                left: 0;
            }
            
            &:nth-child(2) {
                width: 20% !important;
                left: 5%;
            }
            
            &:last-child {
                width: 5% !important;
                right: 0;
            }
        }

        .v-data-table-header {
            tr {
                background: #FFFFFF 0% 0% no-repeat padding-box !important;
                height: 4rem !important;
            }
        }

        .v-data-table__wrapper {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            //box-shadow: 0px 0px 5px #0000001A;
            border: 1px solid #E3E3E3;
            border-radius: 10px;
            table {
                thead {
                    tr {
                        th, td {
                            .v-icon {
                                color: $secondary !important;
                                display: inline;
                            }
                            > div {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                        th {
                            border-bottom: 1px solid $tertiary !important;
                            font-family: Gotham;
                            font-weight: bold;
                            font-style: normal;
                            font-size: 0.80rem;
                            // letter-spacing: 0.28px;
                            color: $tertiary !important;
                        }
                        td {
                            text-align: left !important;
                            font-family: Gotham !important;
                            font-weight: normal !important;
                            font-style: normal !important;
                            font-size: 0.70rem;
                            // letter-spacing: 0.32px;
                            color: $primary;
                        }
                    }
                }
                
                tbody {
                    tr {
                        th, td {
                            font-size: 0.80rem;
                            .v-icon {
                                display: inline-flex;
                            }
                        }
                    }
                }
            }
        }
    }
}

.tertiary--color {
    color: $tertiary !important;
}