.v-tab {
    text-align: left;
    font-family: Gotham;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 1.2rem;
    letter-spacing: 0.36px !important;
    color: #CBC5D4;
    opacity: 0.7;

    &.v-tab--active {
        color: white !important;
        font-style: initial;
        font-weight: bold !important;
        background: transparent linear-gradient(180deg, #AD007500 0%, #AD07754D 100%) 0% 0% no-repeat padding-box;
        vertical-align: sub;
        opacity: 1;
        align-items: flex-start;
        padding-top: 1.1rem;
    }
}