.v-tab {
    &.v-tab--main {
        text-align: left;
        font-family: Gotham;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        letter-spacing: 0px !important;
        color: #CBC5D4;
        opacity: 0.7;

        &.v-tab--active {
            color: white !important;
            font-style: initial;
            font-weight: bold !important;
            background: transparent linear-gradient(180deg, #AD007500 0%, #AD07754D 100%) 0% 0% no-repeat padding-box;
            vertical-align: auto;
            opacity: 1;
            //align-items: flex-start;
            //padding-top: 1rem;
        }
    }
    
    &.v-tab--secondary {
        text-align: left;
        font-family: Gotham;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        letter-spacing: 0px !important;
        text-transform: capitalize;
        color: #CBC5D4;
        margin: 0;

        &.v-tab--active {
            color: $primary !important;
            font-style: initial;
            font-weight: bold !important;
            text-align: left;
        }
    }
}