.info-message {
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: normal;
    font-style: 14px;
    font-family: Gotham;
    font-style: italic;
    letter-spacing: 0px;
    color: #AD0075;
}