.title-1 {
    .v-list-item {
        padding: 0 !important;
        min-height: 24px !important;
        .v-list-item__title {
            text-align: left;
            font-family: Gotham;
            font-size: 2rem;
            font-weight: normal;
            letter-spacing: 0px;
            color: #3A4972 !important;
            padding: 0 !important;
        }
        .v-list-item__subtitle {
            text-align: left;
            font-family: Gotham;
            font-size: 1rem;
            font-weight: normal;
            letter-spacing: 0.48px;
            color: #3A4972 !important;
            padding: 0 !important;
        }
    }
}

.title-2 {
    .v-list-item {
        padding: 0 !important;
        min-height: 30px !important;
        .v-list-item__title {
            text-align: left;
            font-family: Gotham;
            font-size: 1.1rem;
            font-weight: 600;
            letter-spacing: 0.48px;
            color: #00A2D8 !important;
            padding: 0 !important;
        }
        .v-list-item__subtitle {
            text-align: left;
            font-family: Gotham;
            font-size: 1rem;
            font-weight: normal;
            letter-spacing: 0.48px;
            color: #3A4972 !important;
            padding: 0 !important;
        }
    }
}

.v-list-item__content {
    align-items: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
    overflow: hidden;
    padding: 0 !important;
}