@import '~vuetify/src/styles/styles.sass';

// Layout //
$body-bg: #F6F7FF !default;
$content-padding:                           2rem;

// Colors //
$primary:           #3A4972 !default;
$secondary:         #AD0075 !default;
$error:             #EA3464 !default;
$warning:           #FFC260 !default;
$success:           #3CD4A0 !default;
$info:              #9013FE !default;
$text-color:        #6e6e6e !default;
$text-grey:         #b9b9b9 !default;
$title-grey:        #4a4a4a !default;

$gradient-primary:        #3D496F !default;
$gradient-secondary:        #852C71 !default;

$card-title-color:  $text-color;

// Typography //
$h1-font-size:                3rem !default;      // 28px
$h2-font-size:                2rem !default;       // 24px
$h3-font-size:                1.64rem !default;     // 22px
$h4-font-size:                1.5rem !default;     // 20px
$h5-font-size:                1.285rem !default;         // 16px
$h6-font-size:                1.142rem !default;     // 14px

// Card //
$card-shadow: 0 3px 11px 0 #E8EAFC, 0 3px 3px -2px #B2B2B21A, 0 1px 8px 0 #9A9A9A1A;

// Buttons //
$button-shadow: 0px 3px 11px 0px #E8EAFC, 0 3px 3px -2px #B2B2B21A, 0 1px 8px 0 #9A9A9A1A;

$btn-text-transform: lowercase !default;

