@import "~vuetify/src/styles/styles.sass";
@import 'variables';
@import 'base';
@import 'icons';
@import 'login';
@import 'tabs';
@import 'toolbar';
@import 'border';
@import 'breadcrumbs';
@import 'textfield';
@import 'text';
@import 'title';
@import 'images';
@import 'tables';
@import 'fonts';
@import 'background';
@import 'responsive';
@import 'select';
@import 'switch';
@import 'notification-dialog';
@import 'rounded';
@import 'menu';
@import 'color';
